.bg-black {
  background-color: #181818;
}

.bg-whitesmoke {
  background-color: #F5F5F5;
}

.bg-grey {
  background-color: grey;
}

.c-black {
  color: #101010;
}

.c-whitesmoke {
  color: #F5F5F5;
}

.c-white {
  color: white;
}
