.col-item-3 {
  flex-basis: 100px;
  flex-grow: 1;
}

.col-item-10-3 {
  flex-basis: 100px;
  flex-grow: 3;
}

.col-item-10-7 {
  flex-basis: 100px;
  flex-grow: 7;
}

.col-item-2 {
  flex-basis: 100px;
  flex-grow: 5;
}

.col {
  width: 100%;
}
