@media (min-width: 992px) and (max-width: 1199px) {
  .img-ability {
    height: 150px;
    width: 150px;
  }
  
  .img-specialist {
    height: 250px;
    width: 250px;
  }
  
  .img-motivation {
    height: 200px;
    width: 200px;
  }
  
  .text-title {
    font-size: 3em;
  }
  
  .text-sub-title {
    font-size: 1.5em;
  }

  .text-ability-title {
    font-size: 1.5em;
  }
  
  .text-ability {
    font-size: 1em;
  }

  .text-title-specialists {
    font-size: 2em;
  }
  
  .text-name-specialist {
    font-size: 1.5em;
  }
  
  .text-desc-specialist {
    font-size: 1.2em;
  }


  .text-contacts-title {
    font-size: 1.5em;
  }
  
  .text-contacts {
    font-size: 1em;
    line-height: 3;
  }
  
  .text-rating {
    font-size: 4em;
  }
  
  .text-rating-desc {
    font-size: 1em;
  }
  
  .text-button {
    font-size: 4em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-ability {
    height: 100px;
    width: 100px;
  }
  
  .img-specialist {
    height: 200px;
    width: 200px;
  }
  
  .img-motivation {
    height: 150px;
    width: 150px;
  }
  
  .text-title {
    font-size: 2.5em;
  }
  
  .text-sub-title {
    font-size: 1em;
  }

  .text-ability-title {
    font-size: 1em;
  }
  
  .text-ability {
    font-size: 0.8em;
  }

  .text-title-specialists {
    font-size: 1.5em;
  }
  
  .text-name-specialist {
    font-size: 1em;
  }
  
  .text-desc-specialist {
    font-size: 0.8em;
  }

  .text-contacts-title {
    font-size: 1em;
  }
  
  .text-contacts {
    font-size: 0.8em;
    line-height: 3;
  }
  
  .text-rating {
    font-size: 3em;
  }
  
  .text-rating-desc {
    font-size: 0.8em;
  }
  
  .text-button {
    font-size: 3em;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .img-ability {
    height: 100px;
    width: 100px;
  }
  
  .img-specialist {
    height: 250px;
    width: 250px;
  }
  
  .img-motivation {
    height: 150px;
    width: 150px;
  }

  .text-title {
    font-size: 3em;
    text-align: center;
  }
  
  .text-sub-title {
    font-size: 1.5em;
    line-height: 2;
  }

  .container {
    display: block;
  }

  .col-33 {
    width: 100%;
  }

  .col-30 {
    width: 100%;
  }

  .col-40 {
    width: 100%;
  }

  .col-70 {
    width: 100%;
  }

  .text-contacts-title {
    font-size: 1.5em;
  }
  
  .text-contacts {
    font-size: 0.8em;
    line-height: 3;
  }
  
  .text-rating {
    font-size: 4em;
  }
  
  .text-rating-desc {
    font-size: 1em;
  }
  
  .text-button {
    font-size: 6em;
    line-height: 1;
  }

  .pt-xlg {
    padding-top: 10px;
  }
}

@media (max-width: 550px) {
  .img-ability {
    height: 100px;
    width: 100px;
  }
  
  .img-specialist {
    height: 200px;
    width: 200px;
  }
  
  .img-motivation {
    height: 150px;
    width: 150px;
  }

  .text-title {
    font-size: 2em;
    text-align: center;
  }
  
  .text-sub-title {
    font-size: 1.5em;
    line-height: 2; 
    text-align: center;
  }

  .container {
    display: block;
  }

  .col-33 {
    width: 100%;
  }

  .col-30 {
    width: 100%;
  }

  .col-40 {
    width: 100%;
  }

  .col-70 {
    width: 100%;
  }

  .text-ability-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }

  .text-title-specialists {
    font-size: 2em;
  }
  
  .text-name-specialist {
    font-size: 1.5em;
  }
  
  .text-desc-specialist {
    font-size: 1.2em;
  }

  .text-contacts-title {
    font-size: 1.5em;
  }
  
  .text-contacts {
    font-size: 0.8em;
    line-height: 3;
  }
  
  .text-rating {
    font-size: 3em;
  }
  
  .text-rating-desc {
    font-size: 1em;
  }
  
  .text-button {
    font-size: 4em;
    line-height: 1;
  }

  .shadow {
    display: none;
  }

  .pt-xlg {
    padding-top: 10px;
  }
}