.text-title {
  font-size: 4em;
  text-shadow: 3px 3px 3px #000;
}

.text-sub-title {
  font-size: 2em;
  text-shadow: 2px 2px 2px #000;
}

.text-ability-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
}

.text-ability {
  font-size: 1.5em;
  text-align: left;
}

.text-title-specialists {
  font-size: 3em;
  font-weight: bold;
}

.text-name-specialist {
  font-size: 2em;
  font-weight: bold;
}

.text-desc-specialist {
  font-size: 1.6em;
  line-height: 1.5;
  text-align: left;
}

.text-contacts-title {
  font-size: 2em;
  line-height: 1.5;
}

.text-contacts {
  font-size: 1.2em;
  line-height: 4;
}

.text-rating {
  font-size: 6em;
  line-height: 1.5;
}

.text-rating-desc {
  font-size: 1em;
  text-align: left;
}

.text-button {
  font-size: 6em;
  text-decoration: none;
}

.text-button:hover {
  color: rgb(28, 28, 28);
}

.text-button:active {
  color: whitesmoke;
}
